@font-face {
    font-family: latoLite;
    src: url("/Users/muzigumede/Fonts/Lato/Lato-Light.ttf");
}

@font-face {
    font-family: latoBold;
    src: url("/Users/muzigumede/Fonts/Lato/Lato-Bold.ttf");

}

*{  
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

html {
    height: 100%;
}

html body {
    height: 100%;
    padding-top: 15%;
}

#propicDiv {
    text-align: center;
}

#propicDiv img{
    height: 250px;
    border-radius: 250px;
}

#fullnameDiv {
    text-align: center;
    padding-top: 10px;
}

#fullnameDiv h1{
    font-family: LatoLite;
    font-size: 40px;
    font-weight: 900;
}

#linksDiv {
    text-align: center;
    padding-top: 50px;
}

#linksDiv li{
    display: inline;
    color: #15A1FF;
    background-color: none;
    list-style: none;
    font-size: 18px;
    margin: 0px 5px 0px 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

#linksDiv li:hover{
    font-family: latoReg;
    color: white;
    background-color: #15A1FF;
}

a{
    font-family: latoBold;
    color: inherit;
    text-decoration: none;
}

