*{  
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

html {
    height: 100%;
}

html body {
    height: 100%;
    padding-top: 15%;
}

#propicDiv {
    text-align: center;
}

#propicDiv img{
    height: 250px;
    border-radius: 250px;
}

#fullnameDiv {
    text-align: center;
    padding-top: 20px;
}

#fullnameDiv p{
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

#linksDiv {
    text-align: center;
    padding-top: 50px;
}

#linksDiv li{
    display: inline;
    color: #15A1FF;
    background-color: none;
    list-style: none;
    font-size: 18px;
    margin: 0px 5px 0px 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

#linksDiv li:hover{
    color: white;
    background-color: #15A1FF;
}

a{
    font-family: 'Nunito', sans-serif;
    color: inherit;
    text-decoration: none;
}

